@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default, dark --prefersdark, cyberpunk;
}
@custom-variant dark (&:where(.dark, .dark *));

.mobileMenuList a {
  padding: 4px 10px;
  margin: 2px 0;
  border-radius: 5px;
  color: teal;
}

.mobileMenuList a.active {
  color: white;
  background-color: green;
}

a.active {
  color: teal;
  border-bottom: 1px solid green;
}

.asideDash a{
  border: 2px solid rgb(190, 186, 186);
  border-radius: 10px;
  padding: 5px 10px;
}
.asideDash a:hover{
  background-color: rgb(205, 214, 214);
}
.asideDash a.active{
  background-color: silver;
  color: green;
}